!!!

%head
  %title
    Hosts
  =javascript_include_tag :defaults
  =stylesheet_link_tag "default"


%body
  .container
    #header
      Network/VMPS Control
  
    =tabnav :main do
      .content 
        = yield


